
<h1> Hola Handlebars </h1>


<h2> Agregar Producto </h2>

<form id="productForm">
    <input type="text" id="nombre" placeholder="Nombre" required />
    <input type="numbre" id="precio" placeholder="Precio" required />
    <input type="text" id="description" placeholder="Description" required />
    <input type="numbre" id="stock" placeholder="Stock" required />
    <button type="submit"> Agregar </button>
</form>
<hr>

<ul id="productsList"></ul>

<!-- Socket.IO -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>

